<h1>Ssssnake Listingsssssssss</h1>

<% @listings.each do |listing| %>
    <% if !listing.bought? then %>
        <p>-----------------------------</p>
        <%= image_tag listing.picture if listing.picture.attached? %>
        <p><%= listing.title %></p>
        <p><%= listing.description %></p>
        <%= link_to "edit", edit_listing_path(listing.id) if current_user.id == listing.user.id %>
        <%= link_to "show", listing_path(listing.id) %>
        <%= link_to "delete â›”ï¸", listing_path(listing),
                method: :delete,
                data: { confirm: "Are you sure?" } if current_user.id == listing.user.id %>
    <% end %>
<% end %>