<div class="container">
    <h1><%= @listing.title %></h1>
    <%= image_tag @listing.picture if @listing.picture.attached? %>
    <p>Description: <%= @listing.description %></p>
    <p>Breed: <%= @listing.breed.name %></p>
    <p>Sex: <%= @listing.sex %></p>
    <p>Price: <%= @listing.price %></p>

    <button data-stripe="payment">
        Pay <%= number_to_currency(@listing.price) %>
    </button>

    <script src="https://js.stripe.com/v3/"></script>

    <script>
        document
            .querySelector("[data-stripe='payment']")
            .addEventListener("click", () => {
            const stripe = Stripe(
                "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
            );

            stripe.redirectToCheckout({
                sessionId: "<%= @session_id %>"
            });
        });
    </script>
</div>