<h1><%= @listing.title %></h1>
<p>Description: <%= @listing.description %></p>
<p>Breed: <%= @listing.breed.name %></p>
<p>Sex: <%= @listing.sex %></p>
<p>Price: <%= @listing.price %></p>
<p>Pic: <%= image_tag @listing.picture_url %></p>
